@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Karla:wght@200&family=Kodchasan:wght@200&family=Lexend:wght@200&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Karla:wght@200&family=Lexend:wght@200&display=swap");

.button-consulting {
  font-family: "Kodchasan";
  font-size: 15px;
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  background-color: #3fa33d;
  width: 150px;
  height: 6vh;
  /* margin: 0 4rem 0 0.2rem;

    width: 12vw;
    height: 6vh; */
}

.p-menubar {
  background-color: transparent;
}

.p-menuitem-text {
  color: white;
}
