@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300&family=Karla:wght@400&display=swap');

.container-recomendations {

    margin-bottom: 200px;
    background-color: rgb(179, 179, 247);
    height: 100%;

    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.icon-recomendations {
    border: 2px solid salmon;
}
